<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
      integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <style>
      body {
        padding: 50px;
      }
    </style>
    <script
      src="https://unpkg.com/react@18/umd/react.development.js"
      crossorigin
    ></script>
    <script
      src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"
      crossorigin
    ></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <title>Music</title>
  </head>

  <body class="container">
    <header>
      <div class="ui inverted menu">
        <a class="item" href="/"> Home </a>
      </div>
    </header>

    <div id="root"></div>

    <script type="text/babel">
      const albumsData = <%- albums %>;
            //albums is being passed in from our albums.js routes file
            console.log(`This is the raw data`, albumsData);

      const AlbumList = ({ albums }) => {
        const albumItems = albums.map((album) =>
        <li className="ui segment" key={album._id}>
          <a href={`/album/${album._id}`}> {album.albumTitle} by {album.artist}
            </a>
        </li>);

        return <ul>{albumItems}</ul>;
      };

      const AlbumContainer = ({ albums }) => {
        console.log(`This is from AlbumContainer`, albums);
        return (
          <div>

            <AlbumList albums={albums} />
          </div>
        );
      };

      const App = () => {
        return (

        <AlbumContainer albums={albumsData} /> )
      };

      const container = document.getElementById("root");
      const root = ReactDOM.createRoot(container);
      root.render(<App />);
    </script>
  </body>
</html>
