<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
      integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <style>
      body {
        padding: 50px;
      }
    </style>
    <script
      src="https://unpkg.com/react@18/umd/react.development.js"
      crossorigin
    ></script>
    <script
      src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"
      crossorigin
    ></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <title>Music</title>
  </head>

  <body class="container">
    <header>
      <div class="ui inverted menu">
        <a class="item" href="/"> Home </a>
      </div>
    </header>

    <div id="root"></div>

    <script type="text/babel">
      const AlbumForm = (props) => {
        return (
          <form action="">
            <input
              className="ui segment"
              type="text"
              placeholder="Search Artist"
              name="artist"
              value={props.item.artist || ""}
              onChange={props.changeHandler}
            />

            <input
              className="ui segment"
              type="text"
              placeholder="Search Album"
              name="albumTitle"
              value={props.item.albumTitle || ""}
              onChange={props.changeHandler}
            />

            <button
              className="ui button"
              name="clear"
              onClick={props.clearForm}
              type="button"
            >
              Clear
            </button>

            <button
              className="ui button"
              name="save"
              onClick={props.saveItem}
              type="button"
            >
              Save
            </button>

            <button
              className="ui button"
              name="delete"
              onClick={props.deleteItem}
              type="button"
            >
              Delete
            </button>

            {/*
            
             */}
          </form>
        );
      };

      const DetailsContainer = (props) => {
        console.log("Hello", props.item);

        return (
          <div className="ui segment">
            <h2>
              Details for {props.item.albumTitle} by {props.item.artist}
            </h2>
            <AlbumForm
              item={props.item}
              changeHandler={props.changeHandler}
              clearForm={props.clearForm}
              saveItem={props.saveItem}
              deleteItem={props.deleteItem}
            />
            <li>Release Date: {props.item.released}</li>
            <li>Genre: {props.item.genre}</li>
          </div>
        );
      };

      const AlbumList = ({ albums, clickHandler }) => {
        const albumItems = albums.map((album) => (
          // onClick passes the album object to clickHandler(setSelectedItem) setting the selected item to the album object itself.
          <li
            className="ui segment"
            key={album._id}
            onClick={() => clickHandler(album)}
          >
            {album.albumTitle} by {album.artist}
          </li>
        ));

        return <ul>{albumItems}</ul>;
      };

      const AlbumContainer = ({ albums, clickHandler }) => {
        // console.log(`This is from AlbumContainer`, albums);
        return (
          <div className="ui segment">
            <AlbumList albums={albums} clickHandler={clickHandler} />
          </div>
        );
      };

      //parent component
      const App = () => {
        const [items, setItems] = React.useState([]);
        const [selectedItem, setSelectedItem] = React.useState({});

        //fetch data from our albums database
        React.useEffect(() => {
          const fetchData = async () => {
            fetch("/api/albums/")
              .then((res) => res.json())
              .then((json) => {
                setItems(json);
              });
          };
          fetchData();
        }, []);

        const handleChange = (e) => {
          setSelectedItem((prev) => ({
            ...prev,
            [e.target.name]: e.target.value,
          }));
        };

        const clearForm = () => {
          setSelectedItem({});
        };

        const saveItem = () => {
          if (!selectedItem.albumTitle) {
            return;
          }
          fetch("/api/albums/add", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify(selectedItem),
          })
            .then(console.log(selectedItem))
            // .then((res) => res.json())
            .then((data) => {
              // if item has no _id, it wasn't previously saved in DB
              if (!selectedItem._id) {
                selectedItem._id = data._id;
                setSelectedItem(selectedItem);
                // update items list
                let newItems = [...items];
                newItems.push(selectedItem);
                setItems(newItems);
              }
            });
        };

        const deleteItem = () => {
          let id = selectedItem._id;
          // delete item from DB
          fetch(`/api/album/remove/${id}`, { method: "DELETE" })
            // .then((res) => res.json())
            .then((data) => {
              // remove item from UI list
              const newItems = items.filter((item) => {
                return item._id !== id;
              });
              setItems(newItems);
              // clear form
              setSelectedItem({});
            });
        };

        return (
          <div>
            <AlbumContainer albums={items} clickHandler={setSelectedItem} />
            <DetailsContainer
              item={selectedItem}
              changeHandler={handleChange}
              clearForm={clearForm}
              saveItem={saveItem}
              deleteItem={deleteItem}
            />
          </div>
        );
      };

      const container = document.getElementById("root");
      const root = ReactDOM.createRoot(container);
      root.render(<App />);
    </script>
  </body>
</html>
